<form nz-form nzLayout="vertical" [formGroup]="patientIdentityForm" (ngSubmit)="submitForm()">
  <div class="grid-container">
      <nz-form-item>
          <nz-form-label class="label" nzFor="amka">A.M.K.A.</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="amka" 
                  type="text"
                  formControlName="amka" 
              />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="code">Κωδικός:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="code" 
                  type="text" 
                  formControlName="code"
              />
         </nz-form-control>
      </nz-form-item>
      <nz-form-item class="first-name">
          <nz-form-label class="label" nzFor="firstName">Όνομα:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="firstName" 
                  type="text" 
                  formControlName="firstName"
              />
          </nz-form-control>
      </nz-form-item>  
      @for(lastName of lastNameArray.controls; track lastName; let i = $index) {      
      <nz-form-item formArrayName="lastName">
                <nz-form-label class="label" nzFor="lastName">Eπώνυμο:</nz-form-label>
                <nz-form-control>
                    <nz-input-group class="inputs"  [nzSuffix]="suffixIconDelete">
                        <input 
                            nz-input 
                            id="lastName" 
                            type="text" 
                            [formControlName]="i"
                        />                         
                    </nz-input-group>
                    <ng-template #suffixIconDelete>
                        <nz-icon class="icon" nzType="minus-circle" nzTheme="outline" (click)="removeLastName(i)" />            
                    </ng-template>
                </nz-form-control>
            </nz-form-item>  
        }
      <nz-form-item class="span-2">
        <nz-form-label class="label"></nz-form-label>
        <nz-form-control>
            <button type="button" nz-button nzType="dashed" (click)="addLastName()">+ Προσθήκη Επώνυμου</button>
        </nz-form-control>        
      </nz-form-item>
      
      <nz-form-item class="span-2">
          <nz-form-label class="label" nzFor="fullName">Ονοματεπώνυμο:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="fullName" 
                  type="text" 
                  formControlName="fullName"
                  [disabled]="true"
                />
          </nz-form-control>
      </nz-form-item>                        
  </div>

    <nz-divider></nz-divider>

    <div class="footer-btns">
        <button class="button" nz-button nzType="default" type="button" (click)="closeDrawer()">Ακύρωση</button>
        <button class="button" nz-button nzType="primary" type="submit">Καταχώρηση</button>
    </div>
</form>