
.label {
    color: #333333;
    opacity: 65%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.footer-btns {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.button {
    border-radius: 6px;
}