.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.margin-top-gap {
    margin-top: 60px;
}

.span-4 {
    grid-column: span 4;
}


.label {
    color: #333333;
    opacity: 65%;
}

.inputs {
    border: 1px solid #333333;
    width: 90%;
}

.error {
    border: 1px solid rgb(254, 54, 54);
}

em {
    color: rgb(254, 54, 54);
}

.footer-btns {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.button {
    border-radius: 6px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    gap: 6px;   
}