<form nz-form [formGroup]="stableElementsForm" nzLayout="vertical" (ngSubmit)="submitForm()">
     <div class="grid-container">
        <!-- Section 1 -->
        <div class="custom-header-2 span-4">Επεξεργασία Στοιχείων Ταυτότητας</div>
        <nz-divider class="span-4"></nz-divider>
            <nz-form-item>
                <nz-form-label class="label" nzFor="amka">A.M.K.A.</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="amka" 
                        type="text"
                        formControlName="amka" 
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="code">Κωδικός:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="code" 
                        type="text" 
                        formControlName="code"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="firstName">Ονοματεπώνυμο:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="firstName" 
                        type="text" 
                        formControlName="firstName"
                    />
                </nz-form-control>
            </nz-form-item>                        
            <nz-form-item>
                <nz-form-label class="label" nzFor="lastName">Όνομα Προτίμησης:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="lastName" 
                        type="text" 
                        formControlName="lastName"
                    />
                </nz-form-control>
            </nz-form-item>

        <!-- Section 2 -->
        <div class="custom-header-2 span-4 margin-top-gap">Επεξεργασία Δημογραφικών Στοιχείων</div>
        <nz-divider class="span-4"></nz-divider>
            <nz-form-item>
                <nz-form-label class="label" nzFor="birthDate">Ημερομηνία Γέννησης:</nz-form-label>
                <nz-form-control>
                    <nz-date-picker class="inputs" nzFormat="dd/MM/yyyy" formControlName="birthDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="birthPlace">Τόπος Γέννησης:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="birthPlace" 
                        type="text" 
                        name="birthPlace"
                        formControlName="birthPlace"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="gender">Φύλο:</nz-form-label>
                <nz-form-control>
                    <nz-select class="inputs" formControlName="genderId">
                        @for (gender of genders; track gender.id) {
                        <nz-option [nzLabel]="gender.name" [nzValue]="gender.id"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>                        
            <nz-form-item>
                <nz-form-label class="label" nzFor="maritalStatus">Οικογενειακή Κατάσταση:</nz-form-label>
                <nz-form-control>
                    <nz-select class="inputs" formControlName="maritalStatusId">
                        @for (maritalStatus of maritalStatuses; track maritalStatus.id) {
                        <nz-option [nzLabel]="maritalStatus.name" [nzValue]="maritalStatus.id"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="fatherName">Όνομα Πατρός</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="fatherName" 
                        type="text" 
                        formControlName="fatherName"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="motherName">Όνομα Μητρός:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="motherName" 
                        type="text" 
                        formControlName="motherName"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="language">Γλώσσα:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="language" 
                        type="text" 
                        formControlName="language"
                    />
                </nz-form-control>
            </nz-form-item>                        
            <nz-form-item>
                <nz-form-label class="label" nzFor="nationality">Εθνικότητα:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="nationality" 
                        type="text" 
                        formControlName="nationality"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="profession">Επάγγελμα:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="profession" 
                        type="text" 
                        formControlName="profession"
                    />
                </nz-form-control>
            </nz-form-item>                        
            <nz-form-item>
                <nz-form-label class="label" nzFor="education">Επίπεδο Εκπαίδευσης:</nz-form-label>
                <nz-form-control>
                    <nz-select class="inputs" formControlName="educationId">
                        @for (educationLevel of educationLevels; track educationLevel.id) {
                        <nz-option [nzLabel]="educationLevel.name" [nzValue]="educationLevel.id"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

        <!-- Section 3-->
        <div class="custom-header-2 span-4 margin-top-gap">Επεξεργασία Στοιχείων Επικοινωνίας</div>
        <nz-divider class="span-4"></nz-divider>
            <nz-form-item>
                <nz-form-label class="label" nzFor="phone1TypeId">Τηλέφωνο 1:</nz-form-label>
                <nz-form-control>
                    <div class="radio-container">
                        <nz-radio-group 
                            id="phone1TypeId" 
                            nzButtonStyle="solid"
                            formControlName="phone1TypeId"
                        >
                            @for (phoneType of phoneTypes; track phoneType.id) {
                                <label class="button" nz-radio-button [nzValue]="phoneType.id">{{ phoneType.name }}</label>                
                            }
                        </nz-radio-group>

                        @if (stableElementsForm.get('phone1TypeId')?.value === 4) {
                            <input
                                class="inputs"
                                nz-input
                                id="phone1Label" 
                                type="text" 
                                formControlName="phone1Label"
                            />
                        }

                        @if (stableElementsForm.get('phone1TypeId')?.value === 2) {
                            <input 
                                class="inputs" 
                                nz-input 
                                id="phone1" 
                                [maskito]="phone2Mask"
                                type="text" 
                                [class.error]="stableElementsForm.get('phone1')?.invalid"
                                formControlName="phone1"
                            />                                            
                        } @else {
                            <input 
                                class="inputs" 
                                nz-input 
                                [maskito]="phoneMask"
                                id="phone1" 
                                type="text" 
                                [class.error]="stableElementsForm.get('phone1')?.invalid"
                                formControlName="phone1"
                            />                                            
                        }         
                        @if (
                            stableElementsForm.get('phone1')?.errors?.['minlength'] || 
                            stableElementsForm.get('phone1')?.errors?.['maxlength']
                        ) {
                            <em>The phone number has to be 10 digits long</em>
                        }   
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="phone2TypeId">Τηλέφωνο 2:</nz-form-label>
                <nz-form-control>
                    <div class="radio-container">
                        <nz-radio-group 
                            id="phone2TypeId" 
                            nzButtonStyle="solid"
                            formControlName="phone2TypeId"
                        >
                            @for(phoneType of phoneTypes; track phoneType.id) {
                                <label class="button" nz-radio-button [nzValue]="phoneType.id">{{ phoneType.name }}</label>                
                            }
                        </nz-radio-group>

                        @if (stableElementsForm.get('phone2TypeId')?.value === 4) {
                            <input
                                class="inputs"
                                nz-input
                                id="phone2Label" 
                                type="text" 
                                formControlName="phone2Label" 
                            />
                        }
                        @if (stableElementsForm.get('phone2TypeId')?.value === 2) {
                            <input 
                                class="inputs" 
                                nz-input 
                                id="phone2" 
                                [maskito]="phone2Mask"
                                type="text"
                                [class.error]="stableElementsForm.get('phone2')?.invalid" 
                                formControlName="phone2"
                            />                                            
                        } @else {
                            <input 
                                class="inputs" 
                                nz-input 
                                id="phone2" 
                                [maskito]="phoneMask"
                                type="text" 
                                [class.error]="stableElementsForm.get('phone2')?.invalid"
                                formControlName="phone2"
                            />                                            
                        }
                        @if (
                            stableElementsForm.get('phone2')?.errors?.['minlength'] || 
                            stableElementsForm.get('phone2')?.errors?.['maxlength']
                        ) {
                            <em>The phone number has to be 10 digits long</em>
                        }
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="phone3TypeId">Τηλέφωνο 3:</nz-form-label>
                <nz-form-control>
                    <div class="radio-container">
                        <nz-radio-group 
                            id="phone3TypeId" 
                            nzButtonStyle="solid"
                            formControlName="phone3TypeId"
                        >
                            @for (phoneType of phoneTypes; track phoneType.id) {
                                <label class="button" nz-radio-button [nzValue]="phoneType.id">{{ phoneType.name }}</label>                
                            }
                        </nz-radio-group>

                        @if (stableElementsForm.get('phone3TypeId')?.value === 4) {
                            <input
                                class="inputs"
                                nz-input
                                id="phone3Label" 
                                type="text"  
                                formControlName="phone3Label"
                            />
                        }

                        @if (stableElementsForm.get('phone3TypeId')?.value === 2) {
                            <input 
                                class="inputs" 
                                nz-input 
                                id="phone3" 
                                [maskito]="phone2Mask"
                                type="text" 
                                [class.error]="stableElementsForm.get('phone3')?.invalid"
                                formControlName="phone3"
                            />                                            
                        } @else {
                            <input 
                                class="inputs" 
                                nz-input 
                                id="phone3" 
                                [maskito]="phoneMask"
                                type="text" 
                                [class.error]="stableElementsForm.get('phone3')?.invalid"
                                formControlName="phone3"
                            />                                            
                        }   
                        @if (
                            stableElementsForm.get('phone3')?.errors?.['minlength'] || 
                            stableElementsForm.get('phone3')?.errors?.['maxlength']
                        ) {
                            <em>The phone number has to be 10 digits long</em>
                        }           
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="label" nzFor="addressTypeId">Διεύθυνση:</nz-form-label>
                <nz-form-control>
                    <div class="radio-container">
                        <nz-radio-group 
                            id="addressTypeId" 
                            nzButtonStyle="solid"
                            formControlName="addressTypeId"
                        >
                            @for(addressType of addressTypes; track addressType.id){
                                <label class="button" nz-radio-button [nzValue]="addressType.id">{{addressType.name}}</label>    
                            }
                        </nz-radio-group>

                        @if (stableElementsForm.get('addressTypeId')?.value === 4) {
                            <input
                                class="inputs"
                                nz-input
                                id="addressLabel" 
                                type="text" 
                                formControlName="addressLabel"
                            />
                        }

                        <input 
                            class="inputs" 
                            nz-input 
                            id="address" 
                            type="text" 
                            formControlName="address"
                        />                
                    </div>
                </nz-form-control>
            </nz-form-item>                        
            <nz-form-item>
                <nz-form-label class="label" nzFor="email">Email:</nz-form-label>
                <nz-form-control>
                    <input 
                        class="inputs" 
                        nz-input 
                        id="email" 
                        type="text" 
                        formControlName="email"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>

    <nz-divider></nz-divider>

    <div class="footer-btns">
        <button class="button" nz-button nzType="default" type="button" (click)="closeDrawer()">Ακύρωση</button>
        <button class="button" nz-button nzType="primary" type="submit">Καταχώρηση</button>
    </div>        
</form>