<form class="class-form" nzLayout="vertical" nz-form [formGroup]="demographicInfoForm" (ngSubmit)="submitForm()">
    <div class="grid-container">
      <nz-form-item>
          <nz-form-label class="label" nzFor="birthDate">Ημερομηνία Γέννησης:</nz-form-label>
          <nz-form-control>
              <nz-date-picker class="inputs" nzFormat="dd/MM/yyyy" formControlName="birthDate"></nz-date-picker>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="birthPlace">Τόπος Γέννησης:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="birthPlace" 
                  type="text" 
                  name="birthPlace"
                  formControlName="birthPlace"
              />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="gender">Φύλο:</nz-form-label>
          <nz-form-control>
              <nz-select class="inputs" formControlName="genderId">
                  @for (gender of genders; track gender.id) {
                  <nz-option [nzLabel]="gender.name" [nzValue]="gender.id"></nz-option>
                  }
              </nz-select>
          </nz-form-control>
      </nz-form-item>                        
      <nz-form-item>
          <nz-form-label class="label" nzFor="maritalStatus">Οικογενειακή Κατάσταση:</nz-form-label>
          <nz-form-control>
              <nz-select class="inputs" formControlName="maritalStatusId">
                  @for (maritalStatus of maritalStatuses; track maritalStatus.id) {
                  <nz-option [nzLabel]="maritalStatus.name" [nzValue]="maritalStatus.id"></nz-option>
                  }
              </nz-select>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="fatherName">Όνομα Πατρός</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="fatherName" 
                  type="text" 
                  formControlName="fatherName"
              />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="motherName">Όνομα Μητρός:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="motherName" 
                  type="text" 
                  formControlName="motherName"
              />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="language">Γλώσσα:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="language" 
                  type="text" 
                  formControlName="language"
              />
          </nz-form-control>
      </nz-form-item>                        
      <nz-form-item>
          <nz-form-label class="label" nzFor="nationality">Εθνικότητα:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="nationality" 
                  type="text" 
                  formControlName="nationality"
              />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label class="label" nzFor="profession">Επάγγελμα:</nz-form-label>
          <nz-form-control>
              <input 
                  class="inputs" 
                  nz-input 
                  id="profession" 
                  type="text" 
                  formControlName="profession"
              />
          </nz-form-control>
      </nz-form-item>                        
      <nz-form-item>
          <nz-form-label class="label" nzFor="education">Επίπεδο Εκπαίδευσης:</nz-form-label>
          <nz-form-control>
              <nz-select class="inputs" formControlName="educationId">
                  @for (educationLevel of educationLevels; track educationLevel.id) {
                  <nz-option [nzLabel]="educationLevel.name" [nzValue]="educationLevel.id"></nz-option>
                  }
              </nz-select>
          </nz-form-control>
      </nz-form-item>
    </div>

    <nz-divider></nz-divider>

    <div class="footer-btns">
        <button class="button" nz-button nzType="default" type="button" (click)="closeDrawer()">Ακύρωση</button>
        <button class="button" nz-button nzType="primary" type="submit">Καταχώρηση</button>
    </div>   
</form>