.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    height: 100%;            
    padding-top: 33vh;    
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    justify-content: center;
}

.input {
    width: 100%;
    max-width: 600px;
}

.headers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 600px;
    background: #D9D9D9;
    padding: 10px;
    color: #333333;
    opacity: 85%;
    font-weight: bold;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 10px;
    color: #333333;
    opacity: 65%;
    text-align: center;
}