<div class="wrapper">
    <div class="searchbar">
        <nz-input-group class="input-group">
            <input 
                id="selected-input"
                class="input"
                nz-input
                [ngModel]="selectedPatient()"
                (ngModelChange)="selectedPatient.set($event)" 
                [nzAutocomplete]="auto"
            />
        </nz-input-group>
        <nz-autocomplete #auto>
            @if(filteredPatients().length > 0) {
                <div class="headers">
                    <div>Ονοματεπώνυμο</div>
                    <div>A.M.K.A.</div>
                    <div>Κατάσταση</div>
                </div>
                @for(patient of filteredPatients(); track patient.id) {
                    <nz-auto-option 
                        [routerLink]="['/patient-details', patient.id]" 
                        routerLinkActive="is-active"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <div class="content">
                            <div class="flex-column-span">
                                {{ patient.patientIdentity.fullName }}
                                <span>{{ patient.patientIdentity.code }}</span>
                            </div>
                            <div>{{ patient.patientIdentity.amka }}</div>
                            <div>{{ patient.patientIdentity.status }}</div>
                        </div>
                    </nz-auto-option>
                }
            }
            @if (selectedPatient().trim().length > 3 && filteredPatients().length <= 0) {
                <nz-auto-option>
                    <nz-empty></nz-empty>
                </nz-auto-option>
            }
            </nz-autocomplete>            
    </div>
</div>